body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-image:url(/Images/pexels-markusspiske-3806749.jpg);
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.navbar h1 {
    color: white;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #007BFF;
}

.content {
    padding: 20px;
    margin-top: 70px;
}

h1 ,h2{
    color: white;
}

.results {
    display: none;
    margin-top: 15px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
    
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; 
    text-align: center; 
    color:white;
    font-weight: bolder;
    font-size: 18px;
}

th {
    background-color: #80c1f0; 
    color: white; 
}

tbody td {
    vertical-align: middle;
}

.container1 {
    display: none;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 500px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 50px auto; 
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
}

.container1 h1 {
    margin-bottom: 20px;
    color: white;
    text-align: center; 
}

.container1 label {
    font-size: 19px;
    font-weight: bolder;
    color: white;
    width: 300px; 
    display: inline-block; 
    margin-bottom: 10px; 
    text-align: center; 
}

.container1 input {
    width: calc(100% - 160px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font-size: 20px; 
    outline-color: darkcyan;
}

.container1 input[type="date"] {
    padding: 5px; 
}

.container1 .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

.container1 button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 16px;
}

.container1 button:hover {
    background-color: darkblue;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#error {
    margin-top: 20px;
    font-size: 18px; 
    text-align: center;
    font-weight: bolder;
    text-shadow:  -5px -5px 10px rgba(0, 0, 0, 0.5)   ;
}
button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
    font-size: 16px;
}

button:hover {
    background-color: darkblue;
}

.photo-upload {
    margin-left: 40px;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-upload input[type="file"] {
    font-size: 14px;
    margin-bottom: 10px;
}
#uploadedImage {
    max-width: 80px;  
    max-height: 80px; 
    width: auto;      
    height: auto;     
}

#uploadedImageContainer {
    margin-top: 20px;
    padding: 10px;
}

#previewImage {
    max-width: 50px;  
    max-height: 50px;  
}

