.container-box1 {
    margin: 0;
}

.container-box3 {
    font-size: 20px;
}

select {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
option {
    padding: 10px;
}

#btn {
    margin: 0;
}

#table-1 {
    margin-left: 20px;
    margin-right: 20px;
    width: 98%;
    border-collapse: collapse;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
    font-size: large;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-weight: bolder;
}

th {
    background-color: #80c1f0;
    color: black;
}

tbody td {
    vertical-align: middle;
}

.error-msg {
    color : red;
    margin : 5px;
}



